<div>
  {{view 'graph' data=graph_data categories=graph_categories}}
</div>
<div data-type="list">
  <ul>
      {{#each}}
        <li><a>
          <p>
                <span {{bind-attr class="this.initiate_ordertype"}}>{{this.initiate_ordertype}}
                  - {{format-price this.tradeprice }}</span>
          </p>

          <p>{{format-datetime this.datetime}} - QTY: {{this.quantity}}</p>
        </a></li>
      {{/each}}
  </ul>
</div>